/* Основний контейнер сторінки */
.section {
  max-width: 1440px;
  margin: 0 auto;
  padding: 48px 64px;
}

/* Хедер: назва, рейтинг+локація, ціна */
.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 28px;
}

.name {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  margin: 0 0 8px 0; /* 8px до рейтингу */
}

.meta {
  margin-bottom: 16px; /* 16px до ціни */
}

.stats {
  display: flex;
  align-items: center;
  gap: 16px; /* Відстань між рейтингом і локацією */
}

.ratingBox,
.locationBox {
  display: flex;
  align-items: center;
  gap: 4px;
}

.iconStar {
  width: 16px;
  height: 16px;
  fill: #ffc107;
  stroke: #ffc107;
  flex-shrink: 0;
}

.ratingText {
  font-size: 16px;
  line-height: 1.5;
  color: #101828;
  text-decoration: underline;
}

.price {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  color: var(--main);
  margin: 0;
}

/* Галерея */
.gallery {
  display: flex;
  gap: 16px;
  margin-bottom: 28px;
}

.galleryImage {
  width: 290px;
  height: 310px;
  object-fit: cover;
  border-radius: 10px;
}

/* Опис */
.description {
  margin-top: 24px;
  margin-bottom: 44px;
  line-height: 1.5;
  color: #475467;
  max-width: 100%;
}

/* ДВОКОЛОНКОВА СТРУКТУРА ПІД ОПИСОМ */
.mainContent {
  display: flex;
  align-items: flex-start;
  gap: 40px; /* Проміжок між контентом та формою */
}

.infoSide {
  flex: 1; /* Ліва частина (Features/Reviews) займає весь вільний простір */
}

.formSide {
  width: 448px; /* Фіксована ширина форми з макета */
  flex-shrink: 0;
  position: sticky;
  top: 20px; /* Форма буде залишатися на екрані при скролі відгуків */
}

/* Таби (кнопки) */
.tabsList {
  display: flex;
  gap: 40px;
  border-bottom: 1px solid rgba(16, 24, 40, 0.1);
  margin-bottom: 44px;
}

.tabBtn {
  
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 24px;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  color: #101828;

}
.tabBtn:focus {
  outline: none;
}

.tabBtn.active::after {
  border: none;
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #E44848;
  
}

/* Адаптивність для планшетів */
@media (max-width: 1024px) {
  .mainContent {
    flex-direction: column;
    align-items: center;
  }
  
  .formSide {
   margin-top: auto;
    width: 100%;
    max-width: 448px;
  }
}