.description {
  font-size: 16px;
  line-height: 1.5;
  color: #475467;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 24px;
}
.card {
  display: flex;
  gap: 24px;
  padding: 24px;
  border: 1px solid var(--border-light); 
  border-radius: 20px;
  background-color: var(--white);
}

.image {
  width: 290px;
  height: 320px;
  object-fit: cover;
  border-radius: 10px;
}

.price {
  font-weight: 600;
  font-size: 24px;
  color: var(--main);
}

.tag {
  background-color: var(--bg-light); 
  padding: 12px 18px;
  border-radius: 100px;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.tag svg {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  fill: #10100f;
  stroke: currentColor;
}



.featureIcon {
  width: 20px;
  height: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.iconStar {
  fill: #ffc107;
  stroke: #ffc107;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 8px;
}

.name {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.25;
  color: #101828;
}

.priceBox {
  display: flex;
  align-items: center;
  gap: 12px; 
}


.stats {
  display: flex;
  gap: 16px; 
  margin-bottom: 24px;
}


.ratingBox,
.locationBox {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 16px;
  line-height: 1.5;
}


.categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.btnMain {
  display: block; 
  background-color: var(--button-red);
  color: #ffffff;
  padding: 16px 40px;
  border-radius: 200px;
  border: none;
  margin-top: auto; 
  width: fit-content;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.btnMain:hover {
  background-color: var(--button-hover);
}
.heartBtn {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none; 
  display: flex;
  align-items: center;
  margin-left: 12px;
  transition: transform 0.2s ease;
}

.heartBtn:focus {
  outline: none; 
}

.heartIcon {
  fill: #101828; 
  transition: fill 0.3s ease;
}


.active {
  fill: #e44848 !important; 
}

.iconStar {
  width: 16px;
  height: 16px;
  fill: #ffc107; 
  
  stroke: #ffc107;
  flex-shrink: 0;
}

.ratingText {
  font-size: 16px;
  line-height: 1.5;
  color: #101828;
  text-decoration: underline; 
  margin-left: 4px;
}

.ratingBox {
  display: flex;
  align-items: center;
}
