.sidebar {
  width: 360px;
  padding: 0;
  display: flex;
  flex-direction: column;

}

.locationSection {
  margin-bottom: 32px;
 display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  color: rgba(16, 24, 40, 0.6);
  font-size: 16px;
  margin-bottom: 8px;
  display: block;
}

.inputWrapper {
  position: relative;
  width: 100%;
   
}

.iconMap {
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  fill: none;
  stroke: var(--main);
  pointer-events: none;
}

.input {
  box-sizing: border-box;
  width: 100%;
  height: 56px;
  padding: 18px 18px 14px 48px;
  background-color: var(--inputs);
  border: none;
  border-radius: 12px;
  font-size: 16px;
  color: var(--grey);
  transition: color 0.3s ease;
  outline: none;
}
.input::placeholder {
  color: var(--grey)
}
.input:focus {
  color: var(--main);
  outline: none;
}

.filtersText {
  color: var(--grey);
  margin-bottom: 32px;
}

.groupTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.20;
  margin-bottom: 24px;
  color: var(--main);
}

.divider {
  height: 1px;
  background-color: rgba(16, 24, 40, 0.1);
  margin-bottom: 24px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  margin-bottom: 32px;
}

.filterItem {
  height: 96px;
  border: 1px solid var(--border-light);
  border-radius: 12px;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  padding: 12px;
  outline: none;
}


.btnSearch {
  background-color: var(--button);
  color: var(--white);
  padding: 16px 60px;
  border-radius: 200px;
  border: none;
  font-weight: 500;
  width: fit-content;
  margin-top: 32px;
  cursor: pointer;
}
.btnSearch:hover {
  background-color: var(--button-hover);
  transform: translateY(-1px);
  transition: all 0.2s ease;
}

.btnSearch:active {
  transform: translateY(0);
}


.filterItem svg{
  flex-shrink: 0;
  fill: var(--main);
  stroke: currentColor;
  stroke-width: 0;
  transition: fill 0.3s ease;
  color: var(--main);
}

.filterItem:hover {
  border-color: var(--border-red);
}
.filterItem:focus {
  border-color: var(--border-red);
  outline: none;
}

.filterItem.selected {
  border-color: var(--border-red);
}
.filterItem.selected:focus {
  border-color: var(--border-red);
}

.filterItem.selected svg,
.filterItem.selected span {
  color: var(--border-red);
  fill: var(--border-red);
}
.filterItem span {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  font-weight: 500;
  line-height: 1.25;
  color: var(--main); 
  text-align: center;
  word-wrap: break-word; 
}
